* {
  box-sizing: border-box;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  /* border: 0.5px solid black; */
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
a {
  color: black;
  text-decoration: none;
}
.to-top-btn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: rgb(255, 227, 227);
  outline: none;
  border: none;
  border-radius: 50%;
  box-shadow: 10px 10px 30px -7px rgba(0, 0, 0, 0.68);
}

.show-more-btn {
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  color: black;
  background: "whitesmoke"; 
  border-radius: 20px;
  margin-left: 10px;
  font-size: 16px;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}
.category-btn,
.sidebar-toggle-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
    margin: 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;
  margin: 10px;
}
.category-btn:hover,
  .sidebar-toggle-btn:hover {
    background-color: rgb(220, 220, 220) !important;
  }

        .sidebar-stack {
          overflow-y: auto;
  }

        .sidebar-stack:active::-webkit-scrollbar-thumb,
        .sidebar-stack:focus::-webkit-scrollbar-thumb,
        .sidebar-stack:hover::-webkit-scrollbar-thumb {
          visibility: visible;
    }

        .sidebar-stack::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          visibility: hidden;
        }

        .sidebar-stack::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }
        